<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>Astro Basics</title>
		  <link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>

		<slot />
	</body>
</html>

<style>
@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Red';
  src: url('/fonts/Redhatdisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Script';
  src: url('/fonts/ImperialScript-Regular.ttf');
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Red';
  background-color: #fff9ed;
  color: rgb(56, 56, 56);
  padding: 1em;
  display: grid;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Playfair', serif;
  font-size: 2.5em;
  color: rgb(72, 139, 82);
  text-align: center;
}

p {
  font-size: 1.2em;
  text-align: center;
  margin-top: -1em;
  margin-bottom: 2em;
}
</style>